:root{
    --skills-bar-length:0%;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 140px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#ffffff,#1d1d1d);
}

a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}

.topheader{
    position: fixed;
    z-index: 100;
    width: 100%;

}

.topnav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0 0 0;
    
}


.menu{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    font-weight: 900;
    font-size: 18px;
    text-shadow: 3px 3px 5px #444444;
    margin: 0 8% 0 0;

}

.menu a{
    position: relative;
}

.menu a::after{
    content: "";
    background-color: #9c6e12;
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: 0.5s;
}

.menu a.selected::after{
    opacity: 0.8;
}

.menu li{
    padding: 0 6px;
    margin: 0 0 0 20px;
    
}

nav a:hover{
    color: #bd7f05;
    text-decoration-style: solid;
    text-shadow: 3px 3px 5px rgb(22, 22, 0);
}

.idiomas{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 4px;
    margin: 0 0 0 4%;
}

.flag:hover{
    scale: 1.3;
    filter: drop-shadow(0 0 8px #9c6e12);
}

.español{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: rgb(7, 7, 7);
    text-shadow: 3px 3px 5px #444444;
    padding: 0 4px;
    margin: 0 0 0 20px;
    
    
}

.ingles{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: rgb(7, 7, 7);
    text-shadow: 3px 3px 5px #444444;
    padding: 0 4px;
    margin: 0 0 0 20px;
    

}

.open__menu,
.close__menu {
    display: none;
}

.banner{
    width: 100%;
    text-align: center;
    background-color: #444444;
}

.nombre__apellido{
    width: 60%;
    display: inline;
    color: #9c6e12;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 5%;
    line-height: 70px;
    transform: translate(-5%, -20%);
    text-shadow: 3px 3px 5px #000000;
    
    
}

.presentacion{
    font-family: 'Noto Serif Ahom', serif;
    padding: 10px 80px;
    font-size: 4rem;
   
}

.nombre{
    font-family: 'Noto Serif Ahom', serif;
    font-size: 4rem;
}

.carrera{
    font-family: 'Explora', cursive;
    font-weight: 600;
    padding: 0 80px;
    font-size: 4rem;
    
}

.perfil{
    padding: 1.5em 0;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.titulo__home{
    font-family: 'Noto Serif Ahom', serif;
    text-align: center;
    font-size: 3em;
    margin: 1.5em 0 1.5em;
    font-weight: 800;
    clear: left;
    text-shadow: 2px 2px 4px #5f4e38;
}

.titulo__home-contacto{
    margin: 1em 0 1em;
}


.perfil p{
    margin: 0 0 1em;
    font-size: 1.5em;
    font-weight: 300;
}



.corriendo{
    width: 120px;
    float: left;
    margin: 15px 20px 20px 30px;
    box-shadow: 5px 8px 12px black;
}

.corriendo:hover{
    scale: 3.5;
    transition: 0.5s;
}

.corriendo2{
    width: 100px;
    float: right;
    margin: 0 30px 20px 20px;
    box-shadow: 5px 8px 12px black;
}

.corriendo2:hover{
    scale: 3.5;
    transition: 0.5s;
}

.bicicleta{
    width: 90%;
    margin: 20px 20px 20px 20px;
    box-shadow: 5px 8px 12px black;
    border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
}


.cv__btn{
    margin: 0 auto;
    padding-top: 30px;
    animation: wiggle 2s linear infinite;
}

.cv__btn-descarga, .cv__btn-vista{
    margin: 0 4px;
    padding: .3em;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgb(80, 52, 1);
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.cv__btn-descarga:hover, .cv__btn-vista:hover{
    background: darkorange;
}
  
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.habilidades{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: .8rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.tarjetas__titulo{
    text-align: center;
    color: #9b9a9a;
    text-shadow: 2px 2px 4px #030303;
    font-size: 1.8em;
    padding-top: 15px;
}

.tarjetas__1{
    background: url(../imagenes/bg.jpg);
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;   
    grid-column:1/2;
    grid-row:1/5;

}

.tarjetas__2{
    background: url(../imagenes/bg.jpg);
    border-radius: 20px;  
    grid-column:2/2;
    grid-row:1/4;

}

.tarjetas__3{
    background: url(../imagenes/bg.jpg);
    border-radius: 20px;  
    grid-column:2/2;
    grid-row:4/5;

}

.skills__1{
    padding: 30px 0;
}

.skills__2{
    padding: 30px 0;

}


.skills__tech{
    color: #9b9a9a;
    text-shadow: 2px 2px 4px #030303;
    font-size: 1.1em;
    padding-left: 30px;
}

.skills__tech--1{
    line-height: 55px;
}

.skills__tech--2{
    line-height: 65px;
}

.skills__tech--3{
    line-height: 40px;
}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}

.skills__bar{
    position: relative;
    width: 250px;
    height: 8px;
    background-color: #888;
    border-radius: 15px;
    overflow: hidden;
}

.skills__bar::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 8px;
    left: -250px;
    border-radius: 15px;
    background-color: #9c6e12;
    transition: color 0.1s, background-color 0.2s ease-in-out;
    animation: skills-bar-fill 2s ease-in-out forwards;
}

.skills__bar--10::after{
    --skills-bar-length:10%;
}

.skills__bar--40::after{
    --skills-bar-length:40%;
}

.skills__bar--50::after{
    --skills-bar-length:50%;
}

.skills__bar--60::after{
    --skills-bar-length:60%;
}

.skills__bar--70::after{
    --skills-bar-length:70%;
}

.skills__bar--80::after{
    --skills-bar-length:80%;
}

.skills__bar--90::after{
    --skills-bar-length:90%;
}

.skills__bar--100::after{
    --skills-bar-length:100%;
}

@keyframes skills-bar-fill{
    to{
        transform: translateX(var(--skills-bar-length));
    }
}

.proyecto{
    max-width: 1200px;
    margin: 0 auto;
}
.proyectos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    margin: 0 auto;
    gap: 30px;
    justify-content: space-between;
    text-align: center;
}

.proyectos__titulo{
    font-family: 'Noto Serif Ahom', serif;
    font-weight: 600; 
    font-size: 1.3em;
}

.proyectos__descripcion{
    font-family: 'Noto Serif Ahom', serif;
    padding-top: 10px;
}

.img__proyectos{
    border-radius: 25px;
    box-shadow: 5px 8px 12px black;

}

.contacto{
    text-shadow: 3px 3px 5px #aaaaaa;
    background: url(../imagenes/bg.jpg);
    border-radius: 50px;
    max-width: 1100px;
    width: 940px;
    padding: 2px;
    margin: 20px auto;
    text-align: center;

}

.contacto__formulario{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    backdrop-filter: blur(3px);
    border-radius: 25px;
    color: #9b9a9a;
}

form{
    margin: 20px 0;
    
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    border-radius: 5px;
}

.input__padron{
    display: block;
    margin: 0 0 20px 185px;
    padding: 10px 25px;
    width: 50%;
    resize: vertical;
}

.enviar{
    width: 40%;
    padding: 0.5em 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(80, 52, 1);
    border-color: #1d1d1d;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}


footer{
    flex-direction: column;
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 40px;
    margin-top: 10px;
}

.redes{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
}

.redes p{
    color: #aaaaaa;
    font-size: 18px;
}


.red:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 14px #9c6e12);
}

.linkedin{
    font-family: 'Passion One', cursive;
}

.instagram{
    font-family: 'Lobster Two', cursive;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width: 1180px){


    .topnav{
        padding: 1px 0 0 0;
    }
    
    .nombre__apellido{
        opacity: 1;
        top: 10%;
        left: 5%;
        line-height: 35px;
    }

    .presentacion{
        font-size: 1.9em;
        padding: 0;
       
    }
    
    .nombre{
        font-size: 1.9em;
        
    }
    
    .carrera{
        font-size: 1.5em;
        padding: 0;
        
    }


    .menu{
        flex-direction: column;
        position: fixed;
        font-size: 25px;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background: url(../imagenes/bg.jpg);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s;
        
    }
    
    .menu a{
        line-height: 80px;
        color: #bd7f05;
        text-shadow: 3px 3px 5px #000000;
    }

    .menu a.selected::after{
        opacity: 0;
    }

    nav a:hover{
        color: #9c6e12;
        text-decoration-style: solid;
        text-shadow: 3px 3px 5px rgb(134, 92, 1);
    }

    .open__menu,
    .close__menu {
        display: block;
        border-radius: 20%;
        background: none;
        cursor: pointer;
    }

    .open__menu{
        margin: 5px 5%;
        border-color: #9c6e12;
    }

    .close__menu{
        align-self: flex-end;
        border-color: #9c6e12;
        padding: 2px 2px;
        opacity: 0.5;
        margin: 20px 6%;
    }

    .español p{
        display: none;    
    }
    
    .ingles p{
        display: none;
    }
    
    .aleman p{
        display: none;
    }

    .menu--opened{
        opacity: 1;
        pointer-events: all;
    }

    .titulo__home{
        font-size: 1.8em;   
        
    }

    .titulo--opaco{
        opacity: 0;
        pointer-events: none;
        position: relative;
    }

    .perfil p{
        width: 100%;
        margin: 0 auto;
        font-size: 23px;
    }

    .cv__btn{
        font-size: 15px;
        width: 75%;
    }

    .habilidades{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        width: 90%;
        margin: 0 auto;
    }

    .skills__bar{
    width: 110px;
    }

    .skills__bar::after{
    content: "";
    width: 110px;
    left: -110px;
    }



    .proyecto{
        margin: 0 auto;
    }

    .proyectos__contenido{
        width: 100%;
    }

    .img__proyectos{
        height: 60%;
        width: 60%;
    }
    .contacto{
        margin-top: 25px;
        width: 90%;
    }

    .input__padron{
        margin: 10px auto;
        padding: 10px 25px;
        width: 80%;
    }

    .enviar{
        font-size: 12px;
    }

    

}